@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import 'src/variables.scss';

* {
    font-family: 'Nunito' !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: #11171a;
}

#root {
    width: 100%;
    min-height: 100vh;
}

.MuiTextField-root {
    & label.Mui-focused {
        color: $main-color;
    }

    & .MuiInput-underline:after {
        border-bottom-color: $main-color;
    }
    
    & .MuiOutlinedInput-root {

        & fieldset {
            border-radius: $border-radius;
        }

        &.Mui-focused fieldset {
            border-color: $main-color;
        }
    }
}

.button--global {
    background-color: $main-color !important;
    box-shadow: 0 10px 15px 0 rgba($color: $main-color, $alpha: 25%) !important;
    padding: 10px 20px !important;
    font-size: 15px !important;
    color: white !important;
    text-transform: capitalize !important;
}


/* Components */
@import './scss/Separator.scss';
@import './scss/Footer.scss';

/* Pages */
@import './scss/Error404.scss';
@import './scss/CustomerAuth.scss';
@import './scss/CustomerHome.scss';
@import './scss/MerchantHome.scss';